<a href="https://colab.research.google.com/github/tewei0328/seaborn/blob/master/load_seaborn_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip list

In [0]:
import seaborn as sb

In [0]:
sb.load_dataset('planets')

               method  number  orbital_period    mass  distance  year
0     Radial Velocity       1      269.300000   7.100     77.40  2006
1     Radial Velocity       1      874.774000   2.210     56.95  2008
2     Radial Velocity       1      763.000000   2.600     19.84  2011
3     Radial Velocity       1      326.030000  19.400    110.62  2007
4     Radial Velocity       1      516.220000  10.500    119.47  2009
5     Radial Velocity       1      185.840000   4.800     76.39  2008
6     Radial Velocity       1     1773.400000   4.640     18.15  2002
7     Radial Velocity       1      798.500000     NaN     21.41  1996
8     Radial Velocity       1      993.300000  10.300     73.10  2008
9     Radial Velocity       2      452.800000   1.990     74.79  2010
10    Radial Velocity       2      883.000000   0.860     74.79  2010
11    Radial Velocity       1      335.100000   9.880     39.43  2009
12    Radial Velocity       1      479.100000   3.880     97.28  2008
13    Radial Velocity       3     1078.000000   2.530     14.08  1996
14    Radial Velocity       3     2391.000000   0.540     14.08  2001
15    Radial Velocity       3    14002.000000   1.640     14.08  2009
16    Radial Velocity       1        4.230785   0.472     15.36  1995
17    Radial Velocity       5       14.651000   0.800     12.53  1996
18    Radial Velocity       5       44.380000   0.165     12.53  2004
19    Radial Velocity       5     4909.000000   3.530     12.53  2002
20    Radial Velocity       5        0.736540     NaN     12.53  2011
21    Radial Velocity       5      261.200000   0.172     12.53  2007
22    Radial Velocity       3        4.215000   0.016      8.52  2009
23    Radial Velocity       3       38.021000   0.057      8.52  2009
24    Radial Velocity       3      123.010000   0.072      8.52  2009
25    Radial Velocity       1      116.688400     NaN     18.11  1996
26    Radial Velocity       1      691.900000     NaN     81.50  2012
27    Radial Velocity       1      952.700000   5.300     97.18  2008
28    Radial Velocity       1      181.400000   3.200     45.52  2013
29            Imaging       1             NaN     NaN     45.52  2005
...               ...     ...             ...     ...       ...   ...
1005          Transit       1        3.693641     NaN    200.00  2012
1006          Transit       1        4.465633     NaN    330.00  2012
1007          Transit       1        4.617101     NaN    255.00  2012
1008          Transit       1        2.838971     NaN    455.00  2012
1009          Transit       1        5.017180     NaN    300.00  2012
1010          Transit       1        7.919585     NaN    125.00  2012
1011          Transit       1        4.305001     NaN    400.00  2012
1012          Transit       1        3.855900     NaN    480.00  2012
1013          Transit       1        4.411953     NaN    160.00  2012
1014          Transit       1        4.378090     NaN    330.00  2012
1015          Transit       1        1.573292     NaN    350.00  2012
1016          Transit       1        2.311424     NaN    310.00  2013
1017          Transit       1        4.086052     NaN    380.00  2012
1018          Transit       1        4.614420     NaN    225.00  2012
1019          Transit       1        2.903675     NaN    345.00  2012
1020          Transit       1        2.216742     NaN    340.00  2012
1021          Transit       1        2.484193     NaN    260.00  2013
1022          Transit       1        1.360031     NaN     93.00  2012
1023          Transit       1        2.175176     NaN    550.00  2012
1024          Transit       1        3.662387     NaN    240.00  2012
1025          Transit       1        3.067850     NaN     60.00  2012
1026          Transit       1        0.925542     NaN    470.00  2014
1027          Imaging       1             NaN     NaN     19.20  2011
1028          Transit       1        3.352057     NaN   3200.00  2012
1029          Imaging       1             NaN     NaN     10.10  2012
1030          Transit       1        3.941507     NaN    172.00  2006
1031          Transit       1        2.615864     NaN    148.00  2007
1032          Transit       1        3.191524     NaN    174.00  2007
1033          Transit       1        4.125083     NaN    293.00  2008
1034          Transit       1        4.187757     NaN    260.00  2008

[1035 rows x 6 columns]

In [0]:
sb.load_dataset?

In [0]:
sb.get_dataset_names()

/usr/local/lib/python2.7/dist-packages/seaborn/utils.py:373: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("html5lib"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 373 of the file /usr/local/lib/python2.7/dist-packages/seaborn/utils.py. To get rid of this warning, pass the additional argument 'features="html5lib"' to the BeautifulSoup constructor.

  gh_list = BeautifulSoup(http)

[u'anscombe',
 u'attention',
 u'brain_networks',
 u'car_crashes',
 u'diamonds',
 u'dots',
 u'exercise',
 u'flights',
 u'fmri',
 u'gammas',
 u'iris',
 u'mpg',
 u'planets',
 u'tips',
 u'titanic']

In [0]:
sb.get_dataset_names()

[u'anscombe',
 u'attention',
 u'brain_networks',
 u'car_crashes',
 u'diamonds',
 u'dots',
 u'exercise',
 u'flights',
 u'fmri',
 u'gammas',
 u'iris',
 u'mpg',
 u'planets',
 u'tips',
 u'titanic']

In [0]:
sb.load_dataset("")